<div id="settingsContainer" class="container">
    <div class="row">
        <div class="col-md-3 text-right">
            Currency:
        </div>

        <div class="col-md-9">
            <input type="radio" id="euro" name="currency" value="€" (click)="changeCurrency($event)">
            <label for="euro">€</label>
            <input type="radio" name="currency" id="dollar" value="$" (click)="changeCurrency($event)">
            <label for="dollar">$</label>
        </div>
    </div>
</div>